<h1>Add session</h1>

<%= form_for(@exercise_session, url: exercise_exercise_sessions_path(@exercise)) do |f| %>

  <%= render '/shared/form_errors', object_with_errors: @exercise_session %>
  
  <div>
    <%= f.label :set_goal %><br>
    <%= f.number_field :set_goal, autofocus: true, class: 'form_control' %>
  </div>

  <div>
    <%= f.label :rep_goal %><br>
    <%= f.number_field :rep_goal, class: 'form_control' %>
  </div>

  <div>
    <%= f.label :duration_goal %><br>
    <%= f.number_field :duration_goal, class: 'form_control' %>
  </div>

  <div>
    <%= f.label :weight %><br>
    <%= f.number_field :weight, class: 'form_control' %>
  </div>

  <div>
    <%= f.submit "Add session", class: "btn btn-primary" %>
  </div>
<% end %>
