<ul>
  <li>Set goal:
    <%= @exercise_session.set_goal %>
  </li>
  <li>Rep goal
    <%= @exercise_session.rep_goal %>
  </li>
  <li>Duration goal:
    <%= @exercise_session.duration_goal %>
  </li>
  <li>Weight:
    <%= @exercise_session.weight %>
  </li>
</ul>

<ul>
  <% @exercise_session.exercise_sets.each do |set| %>
    <li><%= link_to "set", exercise_exercise_session_exercise_set_path(@exercise_session.id, set.id) %></li>
  <% end %>
</ul>
