<h1>Edit set</h1>

<%= form_for(@exercise_set, url: exercise_exercise_session_exercise_set_path(@exercise, @exercise_session, @exercise_set)) do |f| %>

<%= render '/shared/form_errors', object_with_errors: @exercise_set %>

  <div>
    <%= f.label :reps %><br>
    <%= f.number_field :reps, autofocus: true, class: 'form_control' %>
  </div>

  <div>
    <%= f.label :duration %><br>
    <%= f.number_field :duration, class: 'form_control' %>
  </div>

  <div>
    <%= f.submit "Add set", class: "btn btn-primary" %>
  </div>
<% end %>
