<%= form_for(@exercise) do |f| %>

<%= render '/shared/form_errors', object_with_errors: @exercise %>

  <div>
    <%= f.label :name %><br>
    <%= f.text_field :name, autofocus: true, class: 'form_control' %>
  </div>

  <div>
    <%= f.submit "Create exercise", class: "btn btn-primary" %>
  </div>
<% end %>
