<div>
  <strong>Exercise:</strong>
  <%= @exercise.name %><br>
</div>
<ul>
  <% @exercise.exercise_sessions.each_with_index do |session, i| %>
    <li><%= link_to "#{(i + 1).ordinalize} Session", exercise_exercise_session_path(@exercise, session) %>
        <%= link_to '| edit', edit_exercise_exercise_session_path(@exercise, session) %>
        <%= link_to '| delete', exercise_exercise_session_path(@exercise, session), method: :delete, data: { confirm: 'Are you sure?' } %>
    </li>
  <% end %>
</ul>

<%= link_to "Create exercise session", new_exercise_exercise_session_path(@exercise), class: "btn btn-primary" %>
